
.notification {
  position: fixed;
  top: 10px;
  left: 10px;
  transform: translateX(-50%);
  color: white;
  padding: 24px 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.notificationMessage {
  margin: 0;
}

.notification.info {
  background-color: #007bff;
}
.notification.warning {
  background-color: #ffc107;
  color: black;
}
.notification.error {
  background-color: #dc3545;
}
.notification.custom {
  background-color: #6f42c1;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: inherit;
}
